*{
    margin: 0;
    padding: 0;
}
.navbar-image{
    width: 60px;
}
#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}
.card img{
    max-width: 50vh;
    height: 22rem;
}
.card{
    margin-left: 3vh;
    width: 40vh;
    margin-bottom: 5vh;
}
.btnDetalhesFilme{
    width: 12vh;
    border-radius: 15px;
    background-color: #ff1e1e;
    color: #fff;
    border-style: groove;
}
.btnDetalhesFilme:hover{
    background-color: #fff;
    color: #ff1e1e;
}
.body-detalhes{
    background-color: #f8f8ff;
    
}
.cardTitle{
    margin-left: 50px;
}
.div-detalhes{
margin-left: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-detalhes{
    display: flex;
    justify-content: space-around;
    width: 860px;
    height: 450px;
    margin: 6em;
    margin-left: 0rem;
    border: 3px solid #000;
    border-radius: 10px;
}
#btnFechar{
    width: 12vh;
    border-radius: 15px;
    background-color: #ff1e1e;
    color: #fff;
    border-style: groove;
}
#btnFechar:hover{
    background-color: #fff;
    color: #ff1e1e;
}
#btnSalvar{
    width: 12vh;
    border-radius: 15px;
    background-color: #ff1e1e;
    color: #fff;
    border-style: groove;
    margin-left: 1em;
}
#btnSalvar:hover{
    background-color: #fff;
    color: #ff1e1e;
}